/.idea/
/versions/1.19.4/
/logs/
/location/
/cache/
/libraries/
/eula.txt
/start.bat
/paper-1.19.4.jar
/plugins/LuckPerms-Bukkit-5.4.79.jar
/version_history.json
/.console_history
/plugins/LuckPerms/libs/adventure-4.11.0.jar
/plugins/LuckPerms/libs/adventure-4.11.0-remapped.jar
/plugins/LuckPerms/libs/adventure-platform-4.11.2.jar
/plugins/LuckPerms/libs/adventure-platform-4.11.2-remapped.jar
/plugins/LuckPerms/libs/adventure-platform-bukkit-4.11.2.jar
/plugins/LuckPerms/libs/adventure-platform-bukkit-4.11.2-remapped.jar
/plugins/LuckPerms/translations/repository/ar_SA.properties
/plugins/LuckPerms/libs/asm-9.1.jar
/plugins/LuckPerms/libs/asm-commons-9.1.jar
/banned-ips.json
/banned-players.json
/plugins/LuckPerms/translations/repository/bg_BG.properties
/bukkit.yml
/plugins/LuckPerms/libs/bytebuddy-1.10.22.jar
/plugins/LuckPerms/libs/bytebuddy-1.10.22-remapped.jar
/plugins/LuckPerms/libs/caffeine-2.9.0.jar
/plugins/LuckPerms/libs/caffeine-2.9.0-remapped.jar
/commands.yml
/plugins/LuckPerms/libs/commodore-2.2.jar
/plugins/LuckPerms/libs/commodore-2.2-remapped.jar
/plugins/LuckPerms/libs/commodore-file-1.0.jar
/plugins/LuckPerms/libs/commodore-file-1.0-remapped.jar
/plugins/bStats/config.yml
/plugins/LuckPerms/config.yml
/plugins/LuckPerms/contexts.json
/plugins/LuckPerms/translations/repository/cs_CZ.properties
/plugins/LuckPerms/translations/repository/da_DK.properties
/plugins/LuckPerms/translations/repository/de_DE.properties
/plugins/LuckPerms/translations/repository/el_GR.properties
/plugins/LuckPerms/translations/repository/en_PT.properties
/plugins/LuckPerms/translations/repository/es_ES.properties
/plugins/LuckPerms/libs/event-3.0.0.jar
/plugins/LuckPerms/libs/event-3.0.0-remapped.jar
/plugins/LuckPerms/translations/repository/fa_IR.properties
/plugins/LuckPerms/translations/repository/fi_FI.properties
/plugins/LuckPerms/translations/repository/fil_PH.properties
/plugins/LuckPerms/translations/repository/fr_FR.properties
/plugins/LuckPerms/libs/h2-driver-2.1.214.jar
/plugins/LuckPerms/translations/repository/he_IL.properties
/help.yml
/plugins/LuckPerms/translations/repository/hi_IN.properties
/plugins/LuckPerms/translations/repository/hu_HU.properties
/plugins/LuckPerms/translations/repository/id_ID.properties
/plugins/LuckPerms/translations/repository/it_IT.properties
/plugins/LuckPerms/translations/repository/ja_JP.properties
/plugins/LuckPerms/libs/jar-relocator-1.4.jar
/plugins/LuckPerms/translations/repository/ka_GE.properties
/plugins/LuckPerms/translations/repository/ko_KR.properties
/world/level.dat
/world_nether/level.dat
/world_the_end/level.dat
/world/level.dat_old
/world_nether/level.dat_old
/world_the_end/level.dat_old
/plugins/LuckPerms/luckperms-h2-v2.mv.db
/plugins/LuckPerms/translations/repository/nl_NL.properties
/plugins/LuckPerms/translations/repository/no_NO.properties
/plugins/LuckPerms/libs/okhttp-3.14.9.jar
/plugins/LuckPerms/libs/okhttp-3.14.9-remapped.jar
/plugins/LuckPerms/libs/okio-1.17.5.jar
/plugins/LuckPerms/libs/okio-1.17.5-remapped.jar
/ops.json
/world/datapacks/bukkit/pack.mcmeta
/config/paper-global.yml
/world/paper-world.yml
/world_nether/paper-world.yml
/world_the_end/paper-world.yml
/config/paper-world-defaults.yml
/permissions.yml
/plugins/LuckPerms/translations/repository/pl_PL.properties
/plugins/LuckPerms/translations/repository/pt_BR.properties
/world/entities/r.0.0.mca
/world/region/r.0.0.mca
/world_nether/DIM-1/entities/r.0.0.mca
/world_nether/DIM-1/region/r.0.0.mca
/world_the_end/DIM1/entities/r.0.0.mca
/world_the_end/DIM1/region/r.0.0.mca
/world/entities/r.0.-1.mca
/world/poi/r.0.-1.mca
/world/region/r.0.-1.mca
/world_nether/DIM-1/entities/r.0.-1.mca
/world_nether/DIM-1/region/r.0.-1.mca
/world_the_end/DIM1/entities/r.0.-1.mca
/world_the_end/DIM1/region/r.0.-1.mca
/world/entities/r.-1.0.mca
/world/poi/r.-1.0.mca
/world/region/r.-1.0.mca
/world_nether/DIM-1/entities/r.-1.0.mca
/world_nether/DIM-1/region/r.-1.0.mca
/world_the_end/DIM1/entities/r.-1.0.mca
/world_the_end/DIM1/region/r.-1.0.mca
/world/entities/r.-1.-1.mca
/world/region/r.-1.-1.mca
/world_nether/DIM-1/entities/r.-1.-1.mca
/world_nether/DIM-1/region/r.-1.-1.mca
/world_the_end/DIM1/entities/r.-1.-1.mca
/world_the_end/DIM1/region/r.-1.-1.mca
/world/data/raids.dat
/world_nether/DIM-1/data/raids.dat
/world_the_end/DIM1/data/raids_end.dat
/plugins/LuckPerms/translations/repository/ro_RO.properties
/plugins/LuckPerms/translations/repository/ru_RU.properties
/world/session.lock
/world_nether/session.lock
/world_the_end/session.lock
/plugins/LuckPerms/translations/repository/sk_SK.properties
/spigot.yml
/plugins/LuckPerms/translations/repository/sr_CS.properties
/plugins/LuckPerms/translations/repository/status.json
/plugins/LuckPerms/translations/repository/sv_SE.properties
/plugins/LuckPerms/translations/repository/tr_TR.properties
/world/uid.dat
/world_nether/uid.dat
/world_the_end/uid.dat
/plugins/LuckPerms/translations/repository/uk_UA.properties
/usercache.json
/plugins/LuckPerms/translations/repository/vi_VN.properties
/whitelist.json
/plugins/LuckPerms/translations/repository/zh_CN.properties
/plugins/LuckPerms/translations/repository/zh_TW.properties
